@model ISDomain.DomainModels.Book

@{ ViewData["Title"] = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h4 class="mt-4">Book Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
    </dl>
    <hr />

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index"  class="text-decoration-none text-black-50">Back to All Books</a>
    </form>
</div>
